.thumbnail { height: 280px !important; }
.btn-droppable { width: 180px; height: 30px; padding-left: 4px; }
.btn-draggable { width: 160px; }
.emage { height: 215px; }
h1 { padding: .2em; margin: 0; }
#products { float:left; width: 500px; margin-right: 1.5em; }
#cart { width: 200px; float: left; margin-top: 1em; }
#cart ol, #variant ol { margin: 0; padding: 1em 0 1em 3em; }

#variant {
  width: 200px;
  float: left;
  margin-top: 1em;
  padding-left:1.5em;
}


/*Proctor and Gamble specific*/
body{
  font-family: Arial, Helvetica, sans-serif;
  background: #003cae;
  margin: 0 auto;
  padding: 0 0 24px 0;
  background-image: url('../images/bg-wrapper-blue.png');
  background-position: center -30px;
  background-repeat: no-repeat;
}
#wrapper{
  width: 945px;
  margin: 0 auto;
  padding: 15px 0 50px 0;
  }
#header{
    width: 945px;
    position: relative;
    z-index: 9;
    margin: 0 auto;
    text-align: left;
    padding: 0 0 25px 0;
    /*background: url('../images/bg-content-top.png') 0 100% no-repeat;*/
}
#header #logo{
    width: 62px;
    height: 29px;
    margin: 0;
    padding: 0 30px 10px 15px;
    background: url('../images/logo.png') no-repeat 25px 5px;
}

#skip-link{
    position: absolute;
    left: -9999px;
    top: 11px;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    line-height: 16px;
}
.move_ {
  position: absolute;
  left: -9999px;
}
#logo a {
    display: block;
    width: 62px;
    height: 29px;
    margin: 0;
    padding: 5px 20px 5px 0;
  }

#brands{
    float: left;
    width: 500px;
    margin-right: 2em;
    padding-bottom:100px;
}
#brands{
    min-height: 100px;
}
.brand_container select{
    margin-top: 9px;
    margin-left: 10px;
}
.btn_container{
  width: 100%;
  display: block;
  overflow: hidden;
  padding-top: 100px;
  float: right;
}
.lucky{
  margin-left:30px;
}

/*JQUERY UI OVERRIDES */
#wrapper .ui-widget-header{
    background-color: #007add;
    background-image:none;
    border: 1px solid #1978E5;
    font-size: 20px;
}
