.thumbnail { height: 280px !important; }
.btn-droppable { width: 180px; height: 30px; padding-left: 4px; }
.btn-draggable { width: 160px; }
.emage { height: 215px; }
h1 { padding: .2em; margin: 0; }
/*Proctor and Gamble specific*/
body{
  font-family: Arial, Helvetica, sans-serif;
  background: #003cae;
  margin: 0 auto;
  padding: 0 0 24px 0;
  background-image: url('../images/bg-wrapper-blue.png');
  background-position: center -30px;
  background-repeat: no-repeat;
}
#wrapper{
  width: 945px;
  margin: 0 auto;
  padding: 15px 0 50px 0;
  }
#header{
    width: 945px;
    position: relative;
    z-index: 9;
    margin: 0 auto;
    text-align: left;
    padding: 0 0 25px 0;
    /*background: url('../images/bg-content-top.png') 0 100% no-repeat;*/
}
#header #logo{
    width: 62px;
    height: 29px;
    margin: 0;
    padding: 0 30px 10px 15px;
    background: url('../images/logo.png') no-repeat 25px 5px;
}

#skip-link{
    position: absolute;
    left: -9999px;
    top: 11px;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    line-height: 16px;
}
.move_ {
  position: absolute;
  left: -9999px;
}
#logo a {
    display: block;
    width: 62px;
    height: 29px;
    margin: 0;
    padding: 5px 20px 5px 0;
  }
/*PRODUCTS*/
#products { 
  float:left;
  width: 500px;
  margin-right: 1.5em;
}
#products h1:after{
  content: "sort ▼";
  float: right;
  font-size: 10px;
}

#products #catalog .ulProduct {
  padding-left: 10px;
}
#products #catalog li:nth-child(odd):hover,
#products #catalog li:nth-child(even):hover {
    background: #F0D1A7;
}
#products #catalog li:nth-child(odd),
#cart ol li:nth-child(odd),
#variant ol li:nth-child(odd) {
    background: rgb(232, 224, 224);
}
#products #catalog li:nth-child(even),
#cart ol li:nth-child(even),
#variant ol li:nth-child(even) {
    background: #fff;
}

#products #catalog .productCount{
  color: #000;
  padding-left: 10px;
  opacity: 0.5;
  float: left;
  display: block;
  padding-right:5px;
}
#products #catalog .productDesc{
  width: 400px;
}
/*CART AND VARIANT*/
#cart ol, #variant ol {
  margin: 0;
  padding: 1em;
}
#cart { 
  width: 200px;
  float: left;
  margin-top: 1em;
}
#variant {
  width: 200px;
  float: left;
  margin-top: 1em;
  padding-left:1.5em;
}

#cart ol li,
#variant ol li{
  width: 180px;
}

#products #catalog .productDesc,
#cart ol li,
#variant ol li{
  text-transform: lowercase;
  font-size: 80%;
  opacity: 0.5;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#cart ol li.placeholder,
#variant ol li.placeholder{
  background-color: transparent;
  text-transform: uppercase;
  color: red;
  overflow: inherit;
  margin-left:10px;
}

/*BRANDs*/
#brands{
    float: left;
    width: 500px;
    margin-right: 2em;
    padding-bottom:100px;
    min-height: 100px;
}
.brand_container select{
    margin-top: 9px;
    margin-left: 10px;
}
/*FILE UPLOAD*/
#uploadFile {
  float: left;
  width: 500px;
  margin-right: 2em;
  margin-bottom: 32px;
}
#wrapper #uploadFile{
    background-color: #007add;
    background-image:none;
    border: 0.5px solid #1978E5;
    font-size: 10px;
}
/*BUTTONS*/
.btn_container{
  width: 40%;
  display: block;
  overflow: hidden;
  padding-top: 0px;
  float: right;
}
.btn_container button{
  color: #fff;
  background-color: #007add;
  border-color: #46b8da;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.lucky{
  margin-left:30px;
}

/*JQUERY UI OVERRIDES */
#wrapper .ui-widget-header{
    background-color: #007add;
    background-image:none;
    border: 1px solid #1978E5;
    font-size: 20px;
}
